*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.navbar{
    padding: 10px;
    display: flex;
    align-items: center;
}
.initials{
    padding-left: 30px;
    display: flex;
    align-items: center;
}
.brand{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name{
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navlist{
    padding-left: 680px;
}
.navitems{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}
.navitems:hover{
    color: rgb(179, 43, 66);
    transition: 0.5s;
}
.projects{
    color: rgb(179, 43, 66);
}
.content{
    width: 100%;
    height: 1450px;
    background-color: rgb(295, 224, 212);
}
.heads{
    display: flex;
    align-items: center;
    /* text-align: center; */
}
.line{
    width: 15px;
    height: 15px;
    background-color: rgb(179, 43, 66);
    margin-top: 80px;
    margin-left: 640px;
}
.header{
    font-weight: 540;
    font-size: 26px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 80px;
    padding-left: 10px;
}
.box{
    width: 628px;
    height: 300px;
    background-color: white;
    margin-left: 388px;
    margin-top: 60px;
    box-shadow: grey -7px 6px 22px -10px ;
    display: flex;
}
.para{
    margin-top: 30px;
    margin-left: 440px;
    margin-right: 400px;
    text-align: center;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.vline{
    width: 20px;
    height: 50px;
    background-color: rgb(179, 43, 66);
    margin-top: 40px;
}
.pname{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500px;
    font-size: 22px;
    color: rgb(179, 43, 66);
}
.role{
    margin-top: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
}
.des{
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
    font-size: 15px;
}
.cntnt{
    margin-left: 40px;
    margin-top: 40px;
}
.footer{
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 17px;
    display: flex;
    margin-top: -60px;
    background-color: white;
}
.fb2{
    width: 15px;
    height: 15px;
    margin-left: -60px;
    margin-top: 25px;
}
.twitter2{
    width: 15px;
    height: 15px;
    margin-left: 8px;
    margin-top: 25px;
}
.linkedin2{
    width: 15px;
    height: 15px;
    margin-left: 9px;
    margin-top: 25px;
}
.insta2{
    width: 15px;
    height: 15px;
    margin-left: 9px;
    margin-top: 25px;
}
.cpy{
    font-size: 12px;
    font-weight: 350;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 6px;
    margin-top: 2px;
}
.pow{
    font-size: 12px;
    font-weight: 350;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: -119px;
    margin-top: 25px;
}
.no{
    font-size: 12px;
    font-weight: 350;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: -44px;
    margin-top: 25px;
}
.call{
    font-size: 12px;
    font-weight: 350;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 760px;
    margin-top: 2px;
}
.follow{
    font-size: 12px;
    font-weight: 350;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 130px;
    margin-top: 2px;
}
.logo2{
    margin-left: 20px;
    margin-top: -10px;
}